@{
    ViewData["Title"] = "Home Page";
}

    <div class="position-relative text-center">
        <img src="~/images/hero.jpg" class="w-100" />
        <h1 class="position-absolute text-light header-text-shadow" style="font-size: 3rem; top: 40%; left: 50%; transform: translate(-50%, -50%)">Easy to consume, detailed European football stats for your next project</h1>
    </div>

