@{
    ViewData["Title"] = "Support";
}

<div class="container my-5 mx-lg-5">
    <h1 class="display-3 text-center mb-6">@ViewData["Title"]</h1>
    <p>Email <a href="mailto://support@footballstatsapi.com">support@footballstatsapi.com</a></p>
</div>

