@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container my-5">
    <div class="row">
        <div class="card col-md-6 offset-md-3 p-0">
            <div class="card-header">
                <h5>Access Denied</h5>
            </div>
            <div class="card-body">
                You do not have access to this resource.
            </div>
        </div>
    </div>
</div>
