@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="container my-5">
    <div class="row">
        <div class="card col-md-6 offset-md-3 p-0">
            <div class="card-header">
                <h5>Email Change</h5>
            </div>
            <div class="card-body">
                @Model.StatusMessage
            </div>
        </div>
    </div>
</div>