@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container mt-5 mb-7">
    <form method="post" novalidate>
        <div class="row">
            <div class="card shadow rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                <h5 class="card-header">Forgot Password</h5>
                <div class="card-body">
                    <p>Enter your email address and we'll send you instructions to reset your password.</p>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Enter your email" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning">Reset Password</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
