@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container my-5">
    <form method="post" novalidate>
        <div class="row">
            <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                <h5 class="card-header">Forgot Password</h5>
                <div class="card-body">
                    Please check your email to reset your password.
                </div>
            </div>
        </div>
    </form>
</div>