@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

    <div class="container my-5">
        <form method="post" class="login" novalidate>
            <div class="row">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="card shadow rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                    <h5 class="card-header">Login</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Enter your email" autofocus />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control form-control-lg"  />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <input asp-for="Input.RememberMe" class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label">
                                Remember Me
                            </label>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        @if (Model.ErrorMessage != null)
                        {
                            <div class="error active">
                                @Model.ErrorMessage
                            </div>
                        }

                    </div>

                    <div class="card-footer">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <button type="submit" class="col-md-6 btn btn-warning">Login</button>
                                <a class="btn btn-link col-md-6 p-0 my-2 my-md-0" asp-page="ForgotPassword">Forgot your password?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <div class="m-5 text-center">
            <div>Don't have an account yet?</div>
            <div><a asp-page="Register" asp-route-subscriptionid="1">Sign Up</a></div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
