@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container my-5">
    <div class="row">
        <div class="card col-md-6 offset-md-3 p-0">
            <div class="card-header">
                <h5>Email Verification</h5>
            </div>
            <div class="card-body">
                Please click on the link that was just sent to your email account to confirm your email and complete the registration process.
            </div>
            <div class="card-footer">
                <a class="btn btn-link p-0" asp-controller="Home" asp-action="Index">Back Home</a>
            </div>
        </div>
    </div>
</div>