@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@using System.Globalization;

<div class="container my-5">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" novalidate>
        <div class="row">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                <h5 class="card-header">Sign Up</h5>
                <div class="card-body">
                    <div class="alert alert-info">
                        <div>You are signing up for the <strong>@Model.Subscription.DisplayName</strong> plan.</div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Enter your email" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control form-control-lg"  />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg"  />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-warning">Sign Up</button>
                </div>
            </div>
        </div>
    </form>

    <div class="m-5 text-center">
        <div>Already have an account?</div>
        <div><a asp-page="Login">Log in</a></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
