@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container my-5">
    <div class="row">
        <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
            <h5 class="card-header">Reset Password</h5>
            <div class="card-body">
                Your password has been reset.
            </div>
            <div class="card-footer">
                <a asp-page="Login">Log In</a>
            </div>
        </div>
    </div>
</div>