@page
@model SubscriptionModel
@{
    ViewData["Title"] = "Manage Subscription";
}

<div class="row">
    <div class="col-md-6">
        <h4>Manage Subscription</h4>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}