<ul id="documentation-nav" class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @DocumentationNavPages.IntroductionNavClass(ViewContext)" id="profile" asp-page="./Introduction">Introduction</a></li>
    <li class="nav-item"><a class="nav-link @DocumentationNavPages.AuthenticationNavClass(ViewContext)" id="authentication" asp-page="./Authentication">Authentication</a></li>
    <li class="nav-item"><a class="nav-link @DocumentationNavPages.RateLimitingNavClass(ViewContext)" id="rate-limiting" asp-page="./RateLimiting">Rate Limiting</a></li>
    <li class="nav-item"><a class="nav-link @DocumentationNavPages.EndpointsNavClass(ViewContext)" id="endpoints" asp-page="./Endpoints">Endpoints</a></li>
</ul>