@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" role="alert" class="fixed-bottom py-3 bg-primary text-light">
        <div class="container">
            <div>
                <p class="navbar-text">
                    Football Stats Api uses cookies stored on your device to improve its services. Click Accept to acknowledge that you agree to the use of cookies.
                </p>
                <div class="navbar-right">
                    <button type="button" class="btn btn-warning navbar-btn" data-cookie-string="@cookieString">Accept</button>
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-default text-light navbar-btn">Learn More</a>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                console.log(el.target.dataset.cookieString);
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })();
    </script>
}