<footer>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="footer-copyright mr-auto">
                Copyright © 2019 Football Stats Api - All Rights Reserved
            </div>
            <div class="footer-links">
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Terms">Terms of Use</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Support">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>