<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Football Stats Api</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <partial name="_NavigationPartial" />
        @RenderBody()
        <partial name="_FooterPartial" />
        <partial name="_CookieConsentPartial" />
    </div>

    <script src="~/lib/vendor.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
