@inject FootballStatsApi.Web.Helpers.ConfigurationHelper Configuration;

<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h3>Football Stats Api</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-lg-auto ml-lg-4">
                <li class="nav-item ml-lg-3">
                    <a href="@Configuration.ApiBaseUrl" class="nav-link">Documentation</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Log Out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-lg-4 my-2 my-lg-0">
                        <a class="nav-link btn btn-warning" asp-area="Identity" asp-page="/Account/Register" asp-route-subscriptionid="1">Sign Up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                    </li>
                }
            </ul>
        </div>

    </div>
</nav>