@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container my-7">
    <div class="row">
        <div class="card shadow rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
            <h5 class="card-header text-light bg-danger">Error</h5>
            <div class="card-body">
                <p class="card-text">An error occured while processing your request. Sorry about that!</p>
                <p>Please try again later and contact <a asp-controller="Home" asp-action="Support">support</a> if you are still experiencing problems.</p>
                @if (Model.ShowRequestId)
                {
                    <div>Request Id: <code>@Model.RequestId</code></div>
                }
            </div>
        </div>
    </div>
</div>

